@media screen and (max-width: 1085px) {

    .nav-links{
        position: fixed;
        right: 0px;
        height: 50vh;
        top: 1vh;
        width: 60vh;
        background-color: #2874f0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 40px 0 0px 0;
    }
    
    .search input{
        height: 30px;
        width: 27vw;
        margin: 0 0 0 13vw; 
    }

    .idky div{ 
        width: 25px;
        height: 2px;
        background-color: white;
        margin: 5px;
    }

    .idky{
        display: block;
        cursor: pointer;
        padding-left: 65vw;
        z-index: 2;
    }


    .nav-links{
        clip-path: circle(10px at 90% -10%);
        -webkit-clip-path:  circle(10px at 90% -10%)
    }

    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path:  circle(1000px at 90% -10%)
    }

    .slider{
        height: 480px;
    }

    .prev, .next {
        top: 45%;
    }

}


@media screen and (max-width: 900px) {
    .slider{
        height: 400px;
    }
    .prev, .next {
        top: 40%;
    }
    .slider img{
        padding: 90px 0 30px 0;
    }
}

@media screen and (max-width: 750px) {
    .slider{
        height: 350px;
    }
    .prev, .next {
        top: 35%;
    }
    .slider img{
        padding: 90px 0 30px 0;
    }
}

@media screen and (max-width: 600px) {
    .search input{
        height: 30px;
        width: 50vw;
        margin: 0 0 0 13vw; 
    }
    .prev, .next {
        top: 34%;
    }
    .slider img{
        padding: 90px 25px 30px 0;
    }
}

@media screen and (max-width: 710px) {
    .idky{
        padding-left: 50vw;
    }
    .prev, .next {
        top: 35%;
    }
    .slider img{
        padding: 90px 0 30px 0;
    }
}

@media screen and (max-width: 480px) {
    .idky{
        padding-left: 30vw;
    }
    .search input{
        height: 30px;
        width: 40vw;
        margin: 0 0 0 13vw; 
    }
    .items{
        margin: 10px
    }
    .allcart{
        background-color: rgb(230, 230, 218);
        width: calc(100vw-20px);
    }
    @media screen and (max-width: 900px) {
        .slider{
            height: 250px;
        }
    }
    .prev, .next {
        top: 25%;
    }
    .slider img{
        padding: 90px 0 30px 0;
    }
}

@media screen and (max-width: 280px) {
    .idky{
        padding-left: 8vw;
    }
    .items{
        margin: 20px
    }
    .allcart{
        background-color: rgb(230, 230, 218);
        width: calc(100vw-40px);
    }
    @media screen and (max-width: 900px) {
        .slider{
            height: 180px;
        }
    }
    .prev, .next {
        top: 19%;
    }
    .slider img{
        padding: 90px 0px 30px 0;
    }
}
